@font-face {
  font-family: "Graphik LCG";
  font-weight: 400;
  src: url(../fonts/GraphikLCG-Regular.woff2);
}
@font-face {
  font-family: "Graphik LCG";
  font-weight: 300;
  src: url(../fonts/GraphikLCG-Light.woff2);
}
@font-face {
  font-family: "Graphik LCG";
  font-weight: 600;
  src: url(../fonts/GraphikLCG-Medium.woff2);
}
@font-face {
  font-family: "Graphik LCG";
  font-weight: 800;
  src: url(../fonts/GraphikLCG-Bold.woff2);
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Graphik LCG", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  background-color: #1B1B1B;
  height: 839px;
  color: white;
  position: relative;
}
.top a {
  color: white;
}
.top .chef-img-background {
  position: absolute;
  top: 0;
  right: -16px;
}
.top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.top .container .left-side-section-top img {
  padding-top: 282px;
  margin-bottom: 35px;
}
@media screen and (max-width: 996px) {
  .top .container .left-side-section-top img {
    width: 220px;
  }
}
.top .container .left-side-section-top h3 {
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 90px;
}
@media screen and (max-width: 996px) {
  .top .container .left-side-section-top h3 {
    font-size: 26px;
  }
}
.top .container .left-side-section-top .wrapper-box-email a {
  margin-left: 10px;
  font-size: 14px;
}
@media screen and (max-width: 996px) {
  .top .container .left-side-section-top .wrapper-box-email a {
    font-size: 22px;
  }
}
.top .container .right-side-section-top .chef-img {
  position: absolute;
  top: 183px;
  right: -70px;
}
@media screen and (max-width: 1150px) {
  .top .container .right-side-section-top .chef-img {
    max-width: 600px;
    right: 20px;
  }
}
@media screen and (max-width: 996px) {
  .top .container .right-side-section-top .chef-img {
    max-width: 500px;
    top: 500px;
  }
}
@media screen and (max-width: 700px) {
  .top .container .right-side-section-top .chef-img {
    display: none;
  }
}

.our-benefits {
  padding: 81px 0;
  color: #333333;
}
.our-benefits .container h2 {
  font-size: 45px;
}
.our-benefits .container h2:first-child {
  margin-bottom: 16px;
}
.our-benefits .container h2:nth-child(3) {
  margin-bottom: 16px;
}
.our-benefits .container h2:nth-child(5) {
  margin-left: -6px;
  margin-top: 60px;
}
.our-benefits .container .subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.our-benefits .container .subtitle:nth-child(2) {
  margin-bottom: 80px;
}
.our-benefits .container .subtitle:nth-child(4) {
  padding-bottom: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0509803922);
}

.design {
  position: relative;
}
.design .ellips {
  position: absolute;
  top: 128px;
  left: 0;
  z-index: -1;
}
.design .container {
  max-width: 1110px;
  padding-left: 30px;
}
.design .container .wrapper-disign-section-content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 996px) {
  .design .container .wrapper-disign-section-content {
    display: none;
  }
}
.design .container .wrapper-disign-section-content .left-side-disign-section-content .ikia-img {
  box-shadow: 0px 0px 15px 0px rgba(75, 58, 58, 0.15);
}
@media screen and (max-width: 1150px) {
  .design .container .wrapper-disign-section-content .left-side-disign-section-content .ikia-img {
    max-width: 600px;
  }
}
.design .container .wrapper-disign-section-content .right-side-disign-section-content {
  margin-top: -20px;
}
.design .container .wrapper-disign-section-content .right-side-disign-section-content .wrapper-line {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.design .container .wrapper-disign-section-content .right-side-disign-section-content .wrapper-line .line {
  width: 44px;
  height: 5px;
  background-color: #FD3300;
}
.design .container .wrapper-disign-section-content .right-side-disign-section-content .about-design {
  font-size: 32px;
  font-weight: 600;
  color: #333333;
  display: flex;
  justify-content: flex-end;
  line-height: 52.5px;
  margin-top: 5px;
  margin-bottom: 67px;
}
@media screen and (max-width: 1150px) {
  .design .container .wrapper-disign-section-content .right-side-disign-section-content .about-design {
    font-size: 28px;
  }
}
.design .container .wrapper-disign-section-content .right-side-disign-section-content .about-design:nth-child(6) {
  margin-bottom: 0;
}
.design .container .wrapper-disign-section-content .right-side-disign-section-content .about-design:nth-child(7) {
  margin-top: -10px;
}
.design .wrapper-img-disign-secton {
  margin-top: -30px;
  position: relative;
}
@media screen and (max-width: 996px) {
  .design .wrapper-img-disign-secton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.design .wrapper-img-disign-secton img {
  z-index: -1;
}
@media screen and (max-width: 1150px) {
  .design .wrapper-img-disign-secton img:first-child {
    position: relative;
    top: 0;
    left: 160px;
  }
}
@media screen and (max-width: 996px) {
  .design .wrapper-img-disign-secton img:first-child {
    position: absolute;
    top: 0;
    left: auto;
  }
}
@media screen and (max-width: 700px) {
  .design .wrapper-img-disign-secton img:first-child {
    max-width: 600px;
  }
}
.design .wrapper-img-disign-secton img:nth-child(2) {
  box-shadow: 0px 0px 15px 0px rgba(75, 58, 58, 0.15);
  position: absolute;
  top: 0;
  left: 497px;
  z-index: 1;
  height: 334px;
}
@media screen and (max-width: 1150px) {
  .design .wrapper-img-disign-secton img:nth-child(2) {
    position: relative;
    top: 15px;
    left: 297px;
  }
}
@media screen and (max-width: 996px) {
  .design .wrapper-img-disign-secton img:nth-child(2) {
    position: absolute;
    top: 383px;
    left: auto;
  }
}
@media screen and (max-width: 700px) {
  .design .wrapper-img-disign-secton img:nth-child(2) {
    max-width: 520px;
    height: auto;
  }
}
.design .wrapper-img-disign-secton-two {
  margin-top: 39px;
  margin-left: 113px;
}
@media screen and (max-width: 996px) {
  .design .wrapper-img-disign-secton-two {
    margin-top: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
}
@media screen and (max-width: 700px) {
  .design .wrapper-img-disign-secton-two {
    margin-top: 680px;
  }
}
@media screen and (max-width: 700px) {
  .design .wrapper-img-disign-secton-two img {
    max-width: 520px;
    height: auto;
  }
}
.design .wrapper-img-disign-secton-two img:nth-child(2) {
  margin-left: 58px;
  box-shadow: 0px 0px 15px 0px rgba(75, 58, 58, 0.15);
}
@media screen and (max-width: 1150px) {
  .design .wrapper-img-disign-secton-two img:nth-child(2) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 996px) {
  .design .wrapper-img-disign-secton-two img:nth-child(2) {
    margin-left: 0;
  }
}

.about-booking {
  color: #333333;
  padding: 108px 0;
}
.about-booking .container {
  max-width: 1110px;
  padding-left: 30px;
}
.about-booking .container h2 {
  font-size: 45px;
  margin-bottom: 25px;
}
.about-booking .container .description {
  line-height: 28px;
  font-size: 18px;
  font-weight: 600;
}
.about-booking .container .box-card {
  margin-top: 77px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-booking .container .box-card .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}
.about-booking .container .box-card .card:nth-child(3) {
  padding: 30px 20px 10px;
}
.about-booking .container .box-card .card .description-card {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
}
.about-booking .container .wrapper-order-box {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 105px;
  display: flex;
  font-size: 24px;
  min-height: 400px;
  font-weight: 600;
  gap: 15px;
  height: 440px;
}
.about-booking .container .wrapper-order-box .left-column {
  width: 18%;
}
.about-booking .container .wrapper-order-box .left-column .title {
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #191919;
  font-size: 26px;
}
@media screen and (max-width: 996px) {
  .about-booking .container .wrapper-order-box .left-column .title {
    font-size: 20px;
  }
}
.about-booking .container .wrapper-order-box .left-column .counter-box {
  height: 41.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #191919;
  font-weight: 800;
  gap: 12px;
}
.about-booking .container .wrapper-order-box .left-column .counter-box button {
  border: none;
  background-color: transparent;
  color: tomato;
  font-size: 26px;
  font-weight: 800;
  cursor: pointer;
}
.about-booking .container .wrapper-order-box .central-column {
  width: 44.2%;
  font-weight: 800;
}
.about-booking .container .wrapper-order-box .central-column .title {
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #191919;
  font-size: 26px;
  font-weight: 600;
}
@media screen and (max-width: 996px) {
  .about-booking .container .wrapper-order-box .central-column .title {
    font-size: 20px;
  }
}
.about-booking .container .wrapper-order-box .central-column .about-order {
  height: 41.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #191919;
}
.about-booking .container .wrapper-order-box .central-column .about-order .left-side {
  margin-top: 10px;
}
.about-booking .container .wrapper-order-box .central-column .about-order .left-side .title-description {
  font-size: 20px;
  margin-bottom: 18px;
}
@media screen and (max-width: 996px) {
  .about-booking .container .wrapper-order-box .central-column .about-order .left-side .title-description {
    font-size: 16px;
  }
}
.about-booking .container .wrapper-order-box .central-column .about-order .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
}
.about-booking .container .wrapper-order-box .central-column .about-order .right-side .description {
  font-size: 18px;
  margin-top: -3px;
  font-weight: 800;
}
.about-booking .container .wrapper-order-box .border {
  width: 3px;
  height: 430px;
  background-color: #191919;
}
.about-booking .container .wrapper-order-box .right-column {
  width: 30.4%;
}
.about-booking .container .wrapper-order-box .right-column .title {
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #191919;
  font-size: 26px;
}
@media screen and (max-width: 996px) {
  .about-booking .container .wrapper-order-box .right-column .title {
    font-size: 20px;
  }
}
.about-booking .container .wrapper-order-box .right-column .price-box {
  height: 41.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #191919;
  font-weight: 800;
}
.about-booking .container h3 {
  font-size: 32px;
  font-weight: 600;
  padding-left: 20px;
  margin-top: 24px;
}
.about-booking .container .wrapper-button-buy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.about-booking .container .wrapper-button-buy a .circle-btn {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #FC341D;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  position: relative;
  line-height: 34px;
  padding-top: 5px;
}
.about-booking .container .wrapper-button-buy a .circle-btn .additional-circle {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #121212;
  color: white;
  font-size: 48px;
  position: absolute;
  top: 10px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding-top: 3px;
  padding-left: 3px;
}

.preference {
  background-color: #1B1B1B;
  height: 693px;
  color: white;
  padding: 103px 0;
}
@media screen and (max-width: 700px) {
  .preference {
    height: auto;
  }
}
.preference h2 {
  font-size: 45px;
  margin-bottom: 23px;
}
.preference .description {
  line-height: 30px;
  font-size: 18px;
}
.preference .wrapper-our-benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 63px;
  margin-left: 10px;
  margin-bottom: 189px;
}
.preference .wrapper-our-benefits .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preference .wrapper-our-benefits .card h3 {
  text-align: center;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 300;
}
.preference .wrapper-our-benefits .card h3 span {
  display: block;
  color: #FD351E;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: -12px;
}
.preference .wrapper-box {
  display: flex;
  min-width: 1250px;
  z-index: -1;
}
.preference .wrapper-box .wrapper-box-right img {
  margin-top: -88px;
  margin-left: -75px;
  z-index: 1;
}
@media screen and (max-width: 1150px) {
  .preference .wrapper-box .wrapper-box-right img {
    max-width: 500px;
    margin-left: -100px;
  }
}
@media screen and (max-width: 996px) {
  .preference .wrapper-box .wrapper-box-right img {
    display: none;
  }
}

.our-works {
  background-color: white;
  color: #333333;
  padding: 30px 0 102px;
}
.our-works .container .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 26px;
}
.our-works .container .btn {
  background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%), linear-gradient(0deg, #C4C4C4, #C4C4C4);
  border-image-source: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%);
  width: 240px;
  height: 54px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0 20px 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 110px;
  cursor: pointer;
}
.our-works .container .btn:hover {
  box-shadow: 0px 0px 30px 0px rgb(46, 124, 235);
  transition: 0.5s ease;
}
.our-works .container h3 {
  font-size: 45px;
  margin-bottom: 37px;
}
@media screen and (max-width: 1150px) {
  .our-works .container h3 {
    text-align: center;
  }
}
.our-works .container .wrapper-our-works-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 10px;
}
@media screen and (max-width: 1150px) {
  .our-works .container .wrapper-our-works-card {
    flex-wrap: wrap;
  }
}
.our-works .container .wrapper-our-works-card .card {
  border-radius: 5px;
  color: white;
  min-height: 230px;
  min-width: 542px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.our-works .container .wrapper-our-works-card .card:first-child {
  background-image: url("../img/Rectangle 4.1.png");
  padding-top: 27px;
}
.our-works .container .wrapper-our-works-card .card:first-child .title {
  margin-bottom: 20px;
}
.our-works .container .wrapper-our-works-card .card:first-child .description {
  margin-top: 23px;
  margin-bottom: 21px;
  font-size: 18px;
}
.our-works .container .wrapper-our-works-card .card:nth-child(2) {
  background-image: url("../img/Mask Group.png");
  padding-top: 27px;
}
.our-works .container .wrapper-our-works-card .card:nth-child(2) .title {
  margin-bottom: 27px;
  margin-top: 12px;
}
.our-works .container .wrapper-our-works-card .card:nth-child(2) .description {
  margin: 23px 0;
  font-size: 18px;
}

.footer {
  background-color: #1B1B1B;
  height: 560px;
  padding-top: 73px;
  color: white;
}
@media screen and (max-width: 700px) {
  .footer {
    height: auto;
  }
}
.footer .container .wrapper-footer-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 84px;
}
@media screen and (max-width: 996px) {
  .footer .container .wrapper-footer-content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer .container .wrapper-footer-content .first-side-content {
  width: 36.5%;
}
@media screen and (max-width: 996px) {
  .footer .container .wrapper-footer-content .first-side-content {
    padding-bottom: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .footer .container .wrapper-footer-content .first-side-content {
    width: 100%;
  }
}
.footer .container .wrapper-footer-content .first-side-content .btn {
  background: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%), linear-gradient(0deg, #C4C4C4, #C4C4C4);
  border-image-source: linear-gradient(273.43deg, #5C9FF9 -16.34%, #0058DC 97.2%);
  width: 240px;
  height: 54px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0 20px 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 25px;
  cursor: pointer;
}
.footer .container .wrapper-footer-content .first-side-content .btn:hover {
  box-shadow: 0px 0px 30px 0px rgb(46, 124, 235);
  transition: 0.5s ease;
}
.footer .container .wrapper-footer-content .first-side-content .text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}
.footer .container .wrapper-footer-content .second-side-content {
  font-weight: 300;
  width: 25%;
}
@media screen and (max-width: 996px) {
  .footer .container .wrapper-footer-content .second-side-content {
    padding-bottom: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .footer .container .wrapper-footer-content .second-side-content {
    width: 100%;
    margin-left: -85px;
  }
}
.footer .container .wrapper-footer-content .second-side-content .telegram-wrapper {
  display: flex;
  margin-bottom: 16px;
}
.footer .container .wrapper-footer-content .second-side-content .telegram-wrapper .right-side-telegram-content {
  margin-top: -5px;
}
.footer .container .wrapper-footer-content .second-side-content .telegram-wrapper .right-side-telegram-content a {
  color: white;
  display: block;
  margin-left: 15px;
  font-size: 14px;
  margin-bottom: 6px;
}
.footer .container .wrapper-footer-content .second-side-content .wpapper-phone {
  margin-bottom: 22px;
  display: flex;
  align-items: center;
}
.footer .container .wrapper-footer-content .second-side-content .wpapper-phone a {
  color: white;
  margin-left: 15px;
  font-size: 14px;
}
.footer .container .wrapper-footer-content .second-side-content .wrapper-email {
  display: flex;
  align-items: center;
}
.footer .container .wrapper-footer-content .second-side-content .wrapper-email a {
  color: white;
  margin-left: 15px;
  font-size: 14px;
}
.footer .container .wrapper-footer-content .thirth-side-content {
  width: 27%;
  margin-top: -5px;
}
@media screen and (max-width: 996px) {
  .footer .container .wrapper-footer-content .thirth-side-content {
    padding-bottom: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .footer .container .wrapper-footer-content .thirth-side-content {
    width: 100%;
    margin-left: -85px;
  }
}
.footer .container .wrapper-footer-content .thirth-side-content .city {
  font-size: 18px;
  font-weight: 600;
}
.footer .container .wrapper-footer-content .thirth-side-content .city::before {
  content: url("../img/placeholder.svg");
  margin-right: 6px;
}
.footer .container .wrapper-footer-content .thirth-side-content .adresse {
  font-size: 14px;
  padding-left: 10px;
  margin-top: 10px;
  line-height: 22px;
  margin-bottom: 12px;
}
.footer .container .wrapper-footer-content .thirth-side-content a {
  color: white;
  font-size: 14px;
  padding-left: 10px;
  margin-top: 10px;
}
.footer .container .wrapper-footer-content .fourth-side-content {
  width: 19%;
  margin-top: -5px;
}
@media screen and (max-width: 996px) {
  .footer .container .wrapper-footer-content .fourth-side-content {
    padding-bottom: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .footer .container .wrapper-footer-content .fourth-side-content {
    width: 100%;
    margin-left: -55px;
  }
}
.footer .container .wrapper-footer-content .fourth-side-content .city {
  font-size: 18px;
  font-weight: 600;
}
.footer .container .wrapper-footer-content .fourth-side-content .city::before {
  content: url("../img/placeholder.svg");
  margin-right: 6px;
}
.footer .container .wrapper-footer-content .fourth-side-content .adresse {
  font-size: 14px;
  padding-left: 10px;
  margin-top: 10px;
  line-height: 22px;
  margin-bottom: 12px;
}
.footer .container .wrapper-developers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
}
@media screen and (max-width: 700px) {
  .footer .container .wrapper-developers {
    padding-bottom: 30px;
  }
}
.footer .container .wrapper-developers .team2018 {
  font-size: 14px;
}
.footer .container .wrapper-developers svg {
  margin-left: 20px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */